// Couleurs
$color-primary:   #9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;

// Polices
$font-title: 'Shrikhand', cursive;   // Logo et titres
$font-text:  'Roboto', sans-serif;   // Texte courant

// Breakpoints
$breakpoint-tablet:  768px;
$breakpoint-desktop: 1024px;